@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "radnika_next";
    src: url("./Assets/radnikanext-medium-webfont.woff2");
    format: ("woff2");
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: "radnika_next";
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 0 rgb(0 0 0 / 10%);
  }
}
